<footer>
<p>
  This website is maintained by <a href="https://twitter.com/EdouardL">Edouard Lavidalle</a> (or probably by a 🤖)
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
