<footer>
<p>
  This website is maintained (or probably not) by <a href="https://twitter.com/EdouardL">Edouard Lavidalle</a> for his own reference and as a way to adventure into alien territories, but take it if it is useful for you too.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
